---
import { Image } from 'astro:assets';
import {StrapiBlocks} from "@sensinum/astro-strapi-blocks";
import { getBackgroundClasses } from '../../lib/background';
import type { SpotProps } from './types';

interface Props extends SpotProps {
    Reversed?: boolean;
    Text?: any
    Media?: any
}

const CMS_PATH = import.meta.env.PUBLIC_CMS_PATH

const { Reversed, Text, Media, Configuration } = Astro.props;

const backgroundClasses = getBackgroundClasses(Configuration?.Background);
---

<div class={backgroundClasses}>
    <div class="container mx-auto px-4">
        <div class={`flex flex-col-reverse justify-between ${Reversed ? 'md:flex-row-reverse' : 'md:flex-row'}`}>
            <div class="md:w-1/2 flex flex-col justify-center md:p-5 py-5 max-w-xl text-jagt-500">
                {<StrapiBlocks data={Text} theme={{
                    extend: {
                        heading: {
                            h1: ["font-bold md:text-5xl text-4xl mb-4"],
                            h2: ["font-bold text-4xl mb-5"]
                        },
                        paragraph: {
                            link: ['rounded-sm uppercase font-bold bg-jagt hover:bg-jagt-500 py-4 px-8 text-white inline-block']
                        }
                    }
                }} />}
            </div>
            <div class="md:w-1/2 flex flex-col justify-center">
                {Media && Media.url && Media.width && Media.height && (
                    <Image  class="rounded-2xl w-full drop-shadow-xl" width={Media.width} height={Media.height} src={CMS_PATH + Media.url} alt={Media.alternativeText ? Media.alternativeText : ""} />
                )}
            </div>
        </div>
    </div>
</div>