---
import MainNav from "../components/MainNav";
import logo from '../assets/logo.png';
import Footer from "../components/Footer.astro";

const pathname = Astro.url.pathname;

const menu = [
	{ title: 'Forside', href: '/', children: [] },
	{ title: 'Om os', href: '/om-os', children: [
			{ title: 'Jagt', href: '/jagt', children: [] },
			{ title: 'Medlemmer', href: '/medlemmer', children: [] },
			{ title: 'Kontakt', href: '/kontakt', children: [{ title: 'Jagt', href: '/jagt', children: [] },
					{ title: 'Medlemmer', href: '/medlemmer', children: [] },
					{ title: 'Kontakt', href: '/kontakt', children: [] },] },
		] },
	{ title: 'Jagt', href: '/jagt', children: [] },
	{ title: 'Medlemmer', href: '/medlemmer', children: [] },
	{ title: 'Kontakt', href: '/kontakt', children: [] },
]

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Hoven Jagtforening</title>
	</head>
	<body>
		<div class="container mx-auto flex flex-row justify-between p-5 md:p-0">
			<img src={logo.src} />
			<MainNav data={menu} client:idle currentPath={pathname}/>
			<div class=" flex-column items-center hidden md:flex">
				<a class="rounded-sm bg-jagt hover:bg-jagt-500 py-2 px-4 text-white block" href="/">Bliv medlem</a>
			</div>
		</div>
		<slot />
		<Footer></Footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

</style>
